<<<<<<< HEAD
<div id="index"
=======
>>>>>>> 0016d2932f81fbb9df23b3c0a270bed3f3f1a1a7
<h1> Our Amazing Available Dogs </h1>
    <ul>
        <%@dogs.non_adopted.each do |dog| %>
            <li><%= link_to dog.name, dog_path(dog) %></li>
            <% end %>
    </ul>
    
    <% if logged_in?%>
    <div><%= link_to "add_dog", new_dog_path %> </div>
    <% end%>
<<<<<<< HEAD
    </div>
=======

>>>>>>> 0016d2932f81fbb9df23b3c0a270bed3f3f1a1a7
    