<h1> Dogs Show Page </h1>

<h2><%= @dog.name %></h2>

<div>
<%= link_to "Index Page", dogs_path %>
<%= link_to "Edit Dog", edit_user_path(@dog) %>
<%= link_to "Delete Dog", dog_path(@dog), :method => :delete %>
</div>