<h1><%= @user.name %>'s Profile</h1>


<div>
<% if logged_in? && session[:user_id] == @user.id%>
<%= link_to "Edit User", edit_user_path(@user) %>
<%= link_to "Delete User", user_path(@user), :method => :delete %>
<% end%>
</div>