<div id="about">
<div id= "fufu">
<div id="home">
<div class="background">
<div class="transbox">
<div> <h1 style = "color:black; padding-left: 25px;">Welcome to Where my Dogs @!</h1> <br>
<div> <h4 style = "color:black; padding-left: 25px;">If you're new: <%= link_to "Create Profile", new_user_path %>. If you've been here before, click <%= link_to "here", login_path %> or above, to login </h4></div><br>
<h3 style = "color:black; padding-left: 25px;">Testimonials:</h3>
<p style = "padding-left: 25px;">I adopted a dog in 3 min!- "Donald Glover"</p>
<p style = "padding-left: 25px;">"I love my new lab, Jupiter. thanks guys!" - Nick Nolte</p>
<p style = "padding-left: 25px;">"I got my name wrong the first time, so i changed it. great feature" - Kanye West</p>

</div>
</div>
</div>
</div>

