<div id="home">
<div><h1>Welcome to Where my Dogs @!</h1> <br>

<h4>        If you're new: <%= link_to "Create Profile", new_user_path %>. If you've been here before, click <%= link_to "here", login_path %> or above, to login </h4><br>
<h3>Testimonials:</h3>
<p>I adopted a dog in 3 min!- "Donald Glover"</p>
<p>"I love my new lab, Jupiter. thanks guys!" - Nick Nolte</p>
<p>"I got my name wrong the first time, so i changed it. great feature" - Kanye West</p>


</div>
</div>
<%= link_to "Dog Index Page", dogs_path %>